<footer class="footer">
    <div class="container">
        <div class="copyright text-center">
            @Resources.ApplicationName &middot; <a href="https://bastille.id" target="_blank">Open-Source Identity Server</a>.
        </div>
    </div>
</footer>